venv
.venv
myenv
# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
/static/
/media/

# Generated output files
*.docx
*.xlsx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env